<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones - {{ character.name }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
        </nav>
    </header>
    <main>
        <h2>{{ character.name }}</h2>
        <p>{{ character.description }}</p>

        <!-- Mostrar la imagen del personaje -->
        {% if character_image_url %}
            <img src="{{ character_image_url }}" alt="{{ character.name }}" style="width: 300px; height: auto;">
        {% else %}
            <p>Imagen no disponible</p>
        {% endif %}
        
        <h3>Casa: {{ character.house.name }}</h3>
        <h4>Temporadas:</h4>
        <ul>
            {% for season in character.seasons.all %}
            <li>Temporada {{ season.number }}: {{ season.description }}</li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
