{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% trans "Game of Thrones - Personajes" %}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class= "character-list-page">
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">{% trans "Inicio" %}</a>
            <a href="{% url 'characters_list' %}">{% trans "Personajes" %}</a>
            <a href="{% url 'houses_list' %}">{% trans "Casas" %}</a>
            <a href="{% url 'seasons_list' %}">{% trans "Temporadas" %}</a>
            <a href="{% url 'add_character' %}">{% trans "Añadir Personaje" %}</a>
        </nav>
    </header>
    <main>
        <h2>{% trans "Lista de Personajes" %}</h2>
        <ul>
            {% for data in characters_with_images %}
            <li class="character-item">
                <!--Imagen del personaje-->
                {% if data.image_url %}
                    <img src="{{ data.image_url }}" alt="{{ data.character.name }}" class="character-image">
                {% else %}
                    <p>Sin imagen</p>
                {% endif %}
                <!--Detalles del personaje-->
                <div>
                    <a href="{% url 'character_detail' data.character.id %}">
                        <h3>{{ data.character.name }}</h3>
                    </a>
                    <p>{{ data.character.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
