<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ character.name }} - Game of Thrones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="character-detail-page">
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
            <a href="{% url 'add_character' %}">Añadir Personaje</a>
        </nav>
    </header>
    <main>
        <h2>{{ character.name }}</h2>
        {% if character_image_url %}
            <div id="character-image-container">
                <div id="character-image-wrapper">
                    <img id="character-image" src="{{ character_image_url }}" alt="{{ character.name }}">
                </div>
                <p class="character-description">{{ character.description }}</p>
            </div>
        {% else %}
            <p class="text-center">Imagen no disponible</p>
        {% endif %}

        {% if house_data %}
            <h3>Casa:</h3>
            <div class="house-details-container">
                {% if house_data.image_url %}
                    <div class="text-center house-image-container">
                        <img src="{{ house_data.image_url }}" alt="{{ house_data.name }}" class="house-image">
                    </div>
                {% endif %}
                <div class="house-description-container">
                    {% if house_data.id %}
                        <h4><a href="{% url 'house_detail' house_data.id %}">{{ house_data.name }}</a></h4>
                    {% else %}
                        <h4>{{ house_data.name }}</h4>
                    {% endif %}
                    <p>{{ house_data.description }}</p>
                </div>
            </div>
        {% else %}
            <p>Este personaje no pertenece a ninguna casa.</p>
        {% endif %}

        <h4>Temporadas:</h4>
        {% if seasons %}
            <ul>
                {% for season in seasons %}
                    <li>
                        <a href="{% url 'season_detail' season.id %}">Temporada {{ season.number }}</a>: {{ season.description }}
                    </li>
                {% endfor %}
            </ul>
        {% else %}
            <p>No hay temporadas asociadas a este personaje.</p>
        {% endif %}

    <button id="check-alive-button" data-character-id="{{ character.id }}">¿Quieres saber si está vivo?</button>
    <p id="alive-status"></p>

    </main>

    <script src="{% static 'js/character_detail.js' %}"></script>
</body>
</html>