<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones - Personajes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body>
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
        </nav>
    </header>
    <main>
        <h2>Lista de Personajes</h2>
        <ul>
            {% for character in characters %}
            <li style="display: flex; align-items: center; margin-bottom: 20px;">
                {% if character.image %}
                    <img src="{{ character.image.url }}" alt="{{ character.name }}" style="width: 100px; height: 100px; margin-right: 20px;">
                {% else %}
                    <p>Sin imagen</p>
                {% endif %}
                <div>
                    <a href="{% url 'character_detail' character.id %}">
                        <h3>{{ character.name }}</h3>
                    </a>
                    <p>{{ character.description }}</p>
                </div>
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
