<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones - Personajes</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="character-list-page">
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
            <a href="{% url 'add_character' %}">Añadir Personaje</a>
        </nav>
    </header>
    <main>
        <h2>Lista de Personajes</h2>
        <!-- Barra de búsqueda -->
        <input type="text" id="search-bar" class="search-bar" placeholder="Buscar personajes por nombre...">

        <!-- Lista de personajes -->
        <ul class="character-list">
            {% for data in characters_with_images %}
            <li class="character-item" data-character-id="{{ data.character.id }}" data-character-name="{{ data.character.name|lower }}">
                <!-- Imagen del personaje -->
                {% if data.image_url %}
                    <img src="{{ data.image_url }}" alt="{{ data.character.name }}" class="character-image">
                {% else %}
                    <p>Sin imagen</p>
                {% endif %}
                <!-- Detalles del personaje -->
                <div>
                    <a href="{% url 'character_detail' data.character.id %}">
                        <h3 class="character-name">{{ data.character.name }}</h3>
                    </a>
                    <p>{{ data.character.description }}</p>
                </div>
                <!-- Botón de favorito -->
                <span class="favorite-star" data-character-id="{{ data.character.id }}">&#9734;</span>
            </li>
            {% endfor %}
        </ul>

        <!-- Sección para mostrar favoritos -->
        <h3>Tus Favoritos</h3>
        <ul id="favorite-list"></ul>
    </main>

    <!-- JavaScript -->
    <script src="{% static 'js/character_list.js' %}"></script>
</body>
</html>
