<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Game of Thrones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
        </nav>
    </header>
    <main>
        <h2>Casas y Personajes Destacados</h2>
        <ul>
            {% for house, character in featured_characters.items %}
            <li>
                <div class="house-banner" style="background-image: url('{{ data.image_url }}');"></div>
                <h3>{{ house.name }}</h3>
                <p>{{ house.description }}</p>
                {% if character %}
                    <h4>Personaje Destacado: {{ character.name }}</h4>
                    <p>{{ character.description }}</p>
                {% else %}
                    <p>No hay personajes en esta casa.</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
