<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Game of Thrones</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
</head>
<body>
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
        </nav>
    </header>
    <main>
        <h2>Casas y Personajes Destacados</h2>
        <ul>
            {% for house, data in featured_characters.items %}
            <li style="display: flex; justify-content: space-between; align-items: center; margin-bottom: 2rem;">
                <!-- Imagen de la casa a la izquierda -->
                <div style="flex: 1; text-align: center;">
                    {% if data.house_image_url %}
                        <img src="{{ data.house_image_url }}" alt="{{ house.name }}" style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;">
                    {% else %}
                        <p>Imagen de la casa no disponible</p>
                    {% endif %}
                </div>
        
                <!-- Detalles de la casa en el centro -->
                <div style="flex: 2; margin-left: 1rem;">
                    <h3>{{ house.name }}</h3>
                    <p>{{ house.description }}</p>
                    {% if data.character %}
                        <h4>Personaje Destacado: {{ data.character.name }}</h4>
                        <p>{{ data.character.description }}</p>
                    {% else %}
                        <p>No hay personajes destacados en esta casa.</p>
                    {% endif %}
                </div>
        
                <!-- Imagen del personaje a la derecha -->
                {% if data.character_image_url %}
                <div style="flex: 1; text-align: center;">
                    <img src="{{ data.character_image_url }}" alt="{{ data.character.name }}" style="width: 200px; height: 200px; object-fit: cover; border-radius: 10px;">
                </div>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
        
        
    </main>
</body>
</html>
