<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio - Game of Thrones</title>
    {% load static %}
    <link rel="stylesheet" href="styles.css">
    
</head>
<body>
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="/">Inicio</a> |
            <a href="/characters/">Personajes</a> |
            <a href="/houses/">Casas</a> |
            <a href="/seasons/">Temporadas</a>
        </nav>
    </header>
    <main>
        <h2>Casas y Personajes Destacados</h2>
        <ul>
            {% for house, character in featured_characters.items %}
            <li>
                <h3>{{ house.name }}</h3>
                <p>{{ house.description }}</p>
                {% if character %}
                    <h4>Personaje Destacado: {{ character.name }}</h4>
                    <p>{{ character.description }}</p>
                {% else %}
                    <p>No hay personajes en esta casa.</p>
                {% endif %}
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
