<!DOCTYPE html>
<html lang="{{ LANGUAGE_CODE }}">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Game of Thrones - Temporada {{ season.number }}</title>
    {% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
</head>
<body class="season-detail-page">
    <header>
        <h1>Game of Thrones</h1>
        <nav>
            <a href="{% url 'homepage' %}">Inicio</a>
            <a href="{% url 'characters_list' %}">Personajes</a>
            <a href="{% url 'houses_list' %}">Casas</a>
            <a href="{% url 'seasons_list' %}">Temporadas</a>
            <a href="{% url 'add_character' %}">Añadir Personaje</a>
        </nav>
    </header>
    <main>
        <h2>Temporada {{ season.number }}</h2>
        <!--Descripción de la temporada-->
        <div class="season-description">{{ season.description }}

        </div>

        <h3>Personajes:</h3>
        <ul>
            {% for character in characters %}
            <li>
                <a href="{% url 'character_detail' character.id %}">{{ character.name }}</a> - {{ character.description }}
            </li>
            {% endfor %}
        </ul>
    </main>
</body>
</html>
